@model IEnumerable<ProdutoModel>
@{
    ViewBag.Title = "Listagem de Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<br />
<a href="@Url.Action("AddEdit")" class="btn btn-primary">Adicionar Novo Produto</a>
<br />
<hr />
<br />
<table class="table table-hover"> 
    <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
    </thead>
    <tbody>
        @*
            MESMO SEM COLOCAR O MODEL NO INICIO VC PODE REFERENCIAR A CLASSE
            POREM SEM INTELICESSENCE
        *@

        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Tipo.Nome</td>
            <td>@item.Valor.ToString("N2")</td>
            <td><a asp-action="AddEdit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a></td>
            <td><button class="btn btn-danger btn-sm" onclick="Excluir('@item.Id', '@item.Nome')">Deletar</button></td>
        </tr>
        }
    </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog" id="del-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir o item <strong><span id="nome-item"></span></strong>&nbsp;?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Sim</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section scriptJavascript{
<script>
    function Excluir(id, nome) {
        $('#nome-item').text(nome);
        $('#del-modal').modal("show");
    }

</script>
}