@model IEnumerable<ProdutoModel>
@{
    ViewBag.Title = "Listagem de Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<br />
<a href="@Url.Action("AddEdit")" class="btn btn-primary">Adicionar Novo Produto</a>
<br />
<hr />
<br />
<table class="table table-hover"> 
    <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
    </thead>
    <tbody>
        @*
            MESMO SEM COLOCAR O MODEL NO INICIO VC PODE REFERENCIAR A CLASSE
            POREM SEM INTELICESSENCE
        *@

        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Tipo.Nome</td>
            <td>@item.Valor.ToString("N2")</td>
            <td><a asp-action="AddEdit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a></td>
            <td><a asp-action="AddEdit" class="btn btn-danger btn-sm">Deletar</a></td>
        </tr>

        }
    </tbody>
</table>